<div class="runner-image" style="color:#00008B;">
<h1>Alzheimer's Awareness Marathon</h1>
<p>July 19th, 2021</p>
<p>Sullivans Island, SC 29831</p>

<P>Schedule of Events</P>

<P>9:00am - 10:00am Pre-Registration</P>
<p>10:00am - 10:30am Speech by our sponsors</p>
<p>11:00am Race Begins!</p>
<p>12:00pm Race Ends and Social Hour commences</p>
<p>12:30 - 1:00pm Snacks and Awards Ceremony</p>
<p>1:30 See you next year!</p>

</div>