<div class="runner-image">
  <h1 style="color:#00008B;">About Us</h1>
  <p style="color:#00008B;">At 5k Awareness for Alzheimer’s, 
  we strive to raise awareness for Alzheimer’s, which affects many elderly adults each year. 
  About more than 6 million Americans who are age sixty-five and older are living with Alzheimer’s disease.  
  Alzheimer’s disease affects a person’s memory, ability to learn things, etc.  
  By hosting this 5k race every year, we can help raise awareness of Alzheimer’s. 
  We are raising money to donate to the Alzheimer’s organization to help them conduct research methods to combat this disease.</p> 


<p style="color:#00008B;">We have connections to the Alzheimer’s Foundation of America.  
All donations will be directed towards the AFA for research.  No money will be kept. 
We are completely non-profit organization that wants to contribute to society in a meaningful way!</p>

</p>
</div>
