<div class="runner-image">
  <h1>How To Contact Us</h1>
  <p>Fake Number: (807)995-3434</p>
  <p>Fake Email:NBSCharity@ygmail.com </p>
  <p>Operating Hours: Mon-Fri 9am-10pm, Sat-Sun 9am-5pm</p>
  
</div>
