<h1>The NBS Charity Marathon</h1>
<p>July 19th, 2021</p>
<p>Sullivans Island, SC 29831</p>
<%= link_to image_tag("logo.jpg", alt: "Rails logo", width: "200"),
                      "/help" %>
<p>The NBS Charity Marathon is a </p>

<p><a href="/home">Home</a></p>

