<<<<<<< HEAD
<div class="runner-image" style="color:#00008B;">
  <h1>Alzheimer's Awareness Marathon</h1>
  <p>July 19th, 2021</p>
  <p>Sullivans Island, SC 29831</p>
  <p class="spacing">Need help? We are available Monday-Saturday from 9am-9pm.</p>
  <p>Email: syang@csustudent.net, Chief Executive Officer</p>
  <p>Email: bpor@csustudent.net, Chief Technical Officer</p>
  <p>Email: naths@csustudent.net, Chief Financial Officer</p>
  <p>Phone: (919) 215-5015</p>
=======
<div class="runner-image">
  <h1 style="color:#00008B;">Alzheimer's Awareness Marathon</h1>
  <p style="color:#00008B;">July 19th, 2021</p>
  <p style="color:#00008B;">Sullivans Island, SC 29831</p>
  <p class="spacing" style="color:#00008B;">Need help? We are available Monday-Saturday from 9am-9pm.</p>
<p style="color:#00008B;">Email: syang@csustudent.net, Chief Executive Officer</p>
<p style="color:#00008B;">Email: bpor@csustudent.net, Chief Technical Officer</p>
<p style="color:#00008B;">Email: naths@csustudent.net, Chief Financial Officer</p>
<p style="color:#00008B;">Phone: (919) 215-5015</p>
>>>>>>> c878e4c81a6826fc83ab66cfff528cabe1afb2fe
</div>

