<div class="runner-image">
  <h1>Alzheimer's Awareness Marathon</h1>
  <p>July 19th, 2021</p>
  <p>Sullivans Island, SC 29831</p>
  <p class="spacing">Need help? We are available Monday-Saturday from 9am-9pm.</p>
<p>Email: syang@csustudent.net, Chief Executive Officer</p>
<p>Email: bpor@csustudent.net, Chief Technical Officer</p>
<p>Email: naths@csustudent.net, Chief Financial Officer</p>
<p>Phone: (919) 215-5015</p>
</div>

