<div class="runner-image">
<h1>Alzheimer's Awareness Marathon</h1>
<p>July 19th, 2021</p>
<p>Sullivans Island, SC 29831</p>

<P>Registration ends May 20th, 2021 at 3:30pm EDT</P>

<P style="color:#FF11F1;" >Welcome to Awareness for Alzheimer’s.  We are here to promote the awareness of Alzheimer’s. 
Our annual race is fun time for people all ages to run a course that will promote our cause.  
Sign up by yourself or with a group to raise awareness for the cause.  </P>
</div>
<h1 class = "spacing">Race Contact Information</h1>
<p>For contact information, click the button below</p>

<P>PlaceHolder. Spot below will have map of the race. Either an image or a link will do</P>