<div class="runner-image" style="color:#00008B;">
<h1>Alzheimer's Awareness Marathon</h1>
<p>July 19th, 2021</p>
<p>Sullivans Island, SC 29831</p>

<P>Registration ends May 20th, 2021 at 3:30pm EDT</P>

<P>Welcome to Awareness for Alzheimer’s.  We are here to promote the awareness of Alzheimer’s. 
Our annual race is fun time for people all ages to run a course that will promote our cause.  
Sign up by yourself or with a group to raise awareness for the cause.  </P>
</div>

<div style="color:#00008B;">
  <h1>About Us</h1>
  <p class="p1">At 5k Awareness for Alzheimer’s, 
  we strive to raise awareness for Alzheimer’s, which affects many elderly adults each year. 
  About more than 6 million Americans who are age sixty-five and older are living with Alzheimer’s disease.  
  Alzheimer’s disease affects a person’s memory, ability to learn things, etc.  
  By hosting this 5k race every year, we can help raise awareness of Alzheimer’s. 
  We are raising money to donate to the Alzheimer’s organization to help them conduct research methods to combat this disease.</p> 


<p class="p1">We have connections to the Alzheimer’s Foundation of America.  
All donations will be directed towards the AFA for research.  No money will be kept. 
We are completely non-profit organization that wants to contribute to society in a meaningful way!</p>

</p>
</div>
